<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add New Building</title>
    <link rel="stylesheet" type="text/css" href="css/example.css" />
    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body style="background-color: rgba(255, 215, 0, 0.5);">


<p>Please enter the new Building's Information.</p>
	
 	<form th:action="@{/processAddBuilding}" th:object="${building}" method="post">
	<table class="prettytable">
		<tr>
			<td>Building Name :</td>
			<td><input type="text" th:field="*{bName}" /></td>
		</tr>
 		<tr>
			<td>Building Abbreviation:</td>
			<td><input type="text" th:field="*{bAbbrev}" /></td>
		</tr>
		<tr>
			<td>Building Address :</td>
			<td><input type="text" th:field="*{bAddress}" /></td>
		</tr>
		<tr>
			<td>Building Phone Number :</td>
			<td><input type="text" th:field="*{bPhone}" /></td>
		</tr>
		<tr>
			<td><input type="submit" value="submit" /></td>
			<td><input type="reset" value="reset" /></td>
		</tr>
	</table>
	</form>
</body>
</html>
