<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add New Reservation</title>
    <link rel="stylesheet" type="text/css" href="css/example.css" />
    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body style="background-color: rgba(255, 215, 0, 0.5);">


<p>Please enter the information for the new reservation.</p>
	
 	<form th:action="@{/processAddRes}" th:object="${reservation}" method="post">
 	<table class="prettytable">
 		<tr>
			<td>Organization Name : </td>
			<td><input type="text" th:field="*{orgName}" /></td>
		</tr>
		<tr>
			<td>Contact Name :</td>
			<td><input type="text" th:field="*{contactName}" /></td>
		</tr>
		<tr>
			<td>Contact Phone Number : </td>
			<td><input type="text" th:field="*{contactPhone}" /></td>
		</tr>
		<tr>	
			<td>Building Occupied :</td> 
			<td><select th:field="*{occupies}" >
				<option value="">Building Occupied</option>
				<option th:each ="building: ${buildingList}" th:value = "${building.bAbbrev}" th:text= "${building.bName}"/>
				</select></td>
		</tr>
		<tr>		
			<td>Start Date (YYYY-MM-DD) :</td>
			<td><input type="text" th:field="*{reservStart}" /></td>
		</tr>
		<tr>	
			<td>End Date (YYYY-MM-DD) :</td>
			<td><input type="text" th:field="*{reservEnd}" /></td>
		</tr>
		<tr>
			<td>Number of Rooms Needed :</td>
			<td><input type="text" th:field="*{roomsNeeded}" /></td>
		</tr>	
		<tr>
			<td><input type="submit" value="submit" />
			<input type="reset" value="reset" /></td>
		</tr>
	</td>
	</form>
</body>
</html>
