<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add New Timeoff</title>
    <link rel="stylesheet" type="text/css" href="css/example.css" />
    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body style="background-color: rgba(255, 215, 0, 0.5);">


<p>Please enter the information for the time off request.</p>
	
 	<form th:action="@{/processAddTimeoff}" th:object="${timeoff}" method="post">
		Employee Number :
			<input type="text" th:field="*{empNum}" /><br/>
		Start Date (YYYY-MM-DD) :
			<input type="text" th:field="*{startDate}" /><br/>
		End Date (YYYY-MM-DD) :
			<input type="text" th:field="*{endDate}" /><br/>
		Total Hours :
			<input type="text" th:field="*{totalHours}" /><br/>
		Type of Hours Used :
			<select th:field="*{typeHoursUsed}">
			<option value=""></option>
			<option th:value="AL" th:text="AL"/>
			<option th:value="'FLOATING HOLIDAY'" th:text="'FLOATING HOLIDAY'"/>
			<option th:value="'PLANNED MEDICAL'" th:text="'PLANNED MEDICAL'"/>
			<option th:value="'BANKED HOLIDAY'" th:text="'BANKED HOLIDAY'"/>
			</select><br/>
		<input type="submit" value="submit" />
		<input type="reset" value="reset" />

	</form>
</body>
</html>
