 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head >
<title>MU Cal</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body style="background-color:rgba(255,215,0,0.5);">
	<h1 style="color:rgb(25,25,112)">Welcome to WorkMarq!</h1>
	<h2 style="color:rgb(25,25,112)">Make your Marq at Work!</h2>
	<p>This site keeps track of SSO schedules and building openings.</p>
	
	<p>Please click the link below to log in.</p>
	<a th:href="@{'/logIn'}">Log in</a>
	
</body>
</html> 
